.tdi-a-banner-variation .tdi-banner-divider-verticle {
    border-right: 1px solid #008a00;
    width: 1px;
    height: 260px;
}
.td-service-content{
    padding-top: 10px;
    padding-right: 90px;
}
.td-image-block-left-with-background > div .vis > div img{
    height: auto;
    width:100%;
}
.td-background-image{
    margin-top: -30px !important;
}
.td-service-content .td-contact-heading h3{
        text-align: center;
}
.td-service-content .td-contact-heading p{
    text-align: center;
    margin-top: -10px;
}
.td-service-content .td-contact-heading h5{
    text-align: center;
}
.td-collapase-content{
    padding: 30px 20px 50px 40px;
    margin-top: 20px;
}
.rte .td-rte-phone-link {
    margin-top: 10px;
    margin-left: 0px;
}
.rte .td-rte-colla-phone-link {
    margin-top: 10px;
    margin-left: 30px;
}
.td-key-contact h3{
    color:#1a5336;
}
.td-phone-button{
    margin-top: 10px;
}
.td-service-description .td-service .td-service-content .td-deal-highlight {
    text-align: center;
}
.td-contentarea .td-subscribe-now-button{
    padding: 50px;
}
.rte .td-margin-top{
    margin-top: 40px;
}
.td-deal-title{
    padding: 20px;
}
.td-bid-date span{
    font-weight: lighter;
}
.td-error-button{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.td-deal{
    margin-top: 50px
}
.td-deal-button{
    padding: 50px;
}
.td-city-section {
    margin-top: 30px;
}
.td-our-office{
    margin-top:0px !important;
}
.td-city-padding p{
    padding: 0px;
}

/*Google map*/


.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-top: 20px;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    .td-map-left{
        float: left;
    }
    .td-map-right{
        float: right;
    }

/*Google map*/

@media (max-width: 47.94em){
    .rte .td-rte-colla-phone-link {
        margin-top: 10px;
        margin-left: 0px;
    }
    
}
@media (max-width: 47.94em){
    .td-service-content{
        padding-top: 10px;
        padding-right: 0px;
    }
    
}
@media (max-width: 47.94em){
    .td-city-padding p{
        padding: 15px;
    }
    
}

@media (min-width: 48em){
    .tdi-a-banner-variation .td-a-banner-callout-wrapper {
        margin-top: 0px;
    }
}

@media (max-width: 48em){
    .rte .td-rte-phone-link {
        margin-top: 10px;
        margin-left: 0px;
    }
}

