
/*Collapase */
.td-secondary-accordion {
    background: none;
}
.td-expand-collapse-content {
    margin: 0 30px 0 30px !important;
}
.td-expand-collapse-content>.td-container {
    padding-left: 0;
    padding-right: 0;
}
.td-expand-collapse-content>.td-container>.td-row {
    margin-left: 0;
    margin-right: 0;
}
content>.td-container>.td-row>div {
    padding-left: 0;
    padding-right: 0;
}
.td-expand-collapse-content>.td-container>.td-row>div {
    padding-left: 0;
    padding-right: 0;
}
.td-expand-collapse-content>.td-container>.td-row>div>.td-row>div {
    padding-left: 0;
    padding-right: 0;
}
.td-secondary-accordion>div>div>div>div:first-child>div h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.td-expand-collapse-content>div>div>div>div:first-child>div h3 {
    padding-top: 20px;
    padding-bottom: 0;
}
.td-expand-collapse-content>.td-container>.td-row>div>.td-row>div:first-child {
    padding-left: 15px;
}
.td-expand-collapse-content .td-JShide {
    display: none;
    margin-left: 2px;
}
.td-expand-collapse-content>.td-container>.td-row>div>.td-row>div>.td-row .td-JShide {
    margin-left: 0;
    margin-right: 0;
}
content>.td-container>.td-row>div>.td-row>div>.td-row .td-JShide>.td-row {
    margin-left: 0;
    margin-right: 0;
}
.td-expand-collapse-content>.td-container>.td-row>div>.td-row>div>.td-row .td-JShide>.td-row>div {
    padding-left: 0;
    padding-right: 0;
}



.td-contentarea > section.td-bg-leadership-light-gray {
    padding-top: 80px;
    padding-bottom: 80px;
}


@media only screen and (min-width: 75em){
    .td-contentarea {
        padding-top: 0px;
     }
    }
    