


.city-blocks strong, .city-blocks p{
    text-align: center;
}
.city-blocks .td-service-content {
    background-color: white!important;
}
.city-blocks .city-blocks-text {
    height: 138px;
}
.td-securities {
    width: 150px!important;
    margin-left: 10px;
    height: 22px!important;
}
.title-text-mobile {
    display: none;
    text-align: center;
}

@media only screen and (max-width:768px) {
    .mobile-hidden {
        display: none;
    }
    .city-blocks {
        margin-top: 0px!important;
    }
    .city-blocks .city-blocks-text {
        height: 210px;

    }
    .city-blocks .td-service-content {
        padding: 0px 20px 0px 22px!important;
    }
    .title-text-mobile {
        display: block;
    }
        
    }
}
 