.td-profile {
    margin-top: 0 !important;
}
.td-profile .profile-card {
    background-color: #f4f7f4;
    text-align: center;
}
.profile-photo {
    width: 178px;
    height: 178px;
    left: 33px;
    border: none;
    border-radius: 89px;
    -webkit-border-radius: 89px;
    -moz-border-radius: 89px;
    overflow: hidden;
    margin-bottom: 28px;
}

.td-profile .profile-card h1 {
    margin-top: 0;
    margin-bottom: 20px;
}
.td-profile .profile-bio p:not(:last-child) {
    margin-bottom: 30px;
}
.td-profile .profile-bio p {
    margin: 0;
}

.td-profile .profile-funds {
    margin-top: 10px;
}

.td-profile .profile-funds .RTE ul li:before, .td-profile .profile-funds .RTE ul li:before, .td-profile .profile-funds .rte ul li:before, .td-profile .profile-funds .rte ul li:before{
    content: none;
}

@media (max-width: 47.94em){
    .td-profile .profile-card {
         padding: 30px 0; 
    }
}
@media (max-width: 47.94em){
    .td-profile .profile-bio {
        margin-top: 30px !important;
    }
}
@media (max-width: 47.94em){
    .td-profile .profile-funds .td-expand-collapse-content {
        margin-left: -15px !important;
    }
}
@media (min-width: 48em){
    .td-profile .profile-funds .RTE ul, .td-profile .profile-funds .rte ul {
        margin-left: 25px;
    }
}
@media (max-width: 74.94em) and (min-width: 48em){
    .td-profile .profile-funds .td-expand-collapse-content {
         margin-left: 15px !important; 
    }
}

@media (min-width: 64em){
    .td-profile .profile-card {
        padding: 50px 0;
    }
}
@media (min-width: 64em){
    .td-profile .profile-bio {
        margin: 60px 0 !important;
    }
}
@media (min-width: 75em){
    .td-profile .profile-funds .td-expand-collapse-content {
        margin-left: -15px !important;
    }
}
hr.td-thin-profile-divider-line-1 {
    width: 100%;
    border: 0 none;
    background-color: #ccc;
    height: 1px;
}
.td-contentarea > section.td-bg-leadership-light-gray {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f3f3f8;
}
.td-bg-leadership-light-gray {
    
}
    

