/*Start Logo */
.tds-security-logo{
    display: inline;
    margin-left: -20px;
    padding: 20px 30px 0px 0px;;

}
.tds-security-logo img{
    padding-top: 5px;
}

/* End Logo */

/*Start Leadership Profile*/

.td-image-block-right-with-copy > div .vis > div {
    margin-top: -40px; 
}
.td_rq_leadership_grid{
    padding: 20px;
}
.td-leadership {
    text-align: center;
}
.td-leadership .leadership-heading h1 {
    line-height: 1.417;
    margin-bottom: 22px;
    font-size: 1.5rem;
    font-weight: 300;
}
.td-leadership .leadership-heading .leadership-subtitle {
    margin-bottom: 50px;
}

.td-leadership .leadership-card .border-right-added-byJS {
    border-right: 1px solid #ccc !important;
}
.td-leadership .leadership-card>div {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.td-leadership .leadership-card h2 {
    padding-bottom: 18px;
}


.td-leadership .leadership-card:nth-child(3n)>div {
    border-right: 0;
}
.td-leadership .leadership-card .border-right-removed-byJS {
    border-right: 0;
}


.td-leadership .leadership-card .border-bottom-removed-byJS {
    border-bottom: 0;
}
@media (min-width: 64em){
    .td-leadership {
        margin: 50px 0 !important;
    }
}
@media (min-width: 64em){
    .td-leadership .leadership-heading .leadership-subtitle {
        margin-bottom: 50px;
    }
}
@media (min-width: 48em){
    .td-leadership .leadership-heading .leadership-subtitle {
        margin-bottom: 40px;
    }
}
@media (min-width: 64em){
    .td-leadership .leadership-card>div {
        padding: 50px 3%;
    }
}
@media (max-width: 63.94em){
    .td-leadership .leadership-card>div {
        padding: 40px 3%;
    }
}
@media (min-width: 47.94em){
    .td-image-block-right-with-copy > div .vis > div {
        margin-top: 0px; 
   }
}


/* End Leadership Profile */

/* Start Leadership Local Section */


.td-article-group {
    padding: 20px 0px 0px 0px;
}

/* End Leadership Local Sectiopn */



/* Start Leadership  Artical Section */
.td-article-title h2{
    color: #1c1c1c;
    padding: 20px 0px 0px 0px
}

.td-article-list .td-list-group>li p {
    margin-top: 12px;
    line-height: 1.5rem;
}
.td-image-block-with-copy, .td-image-block-with-copy-right {
    overflow: hidden;
}

.td-image-block-with-copy > div, .td-image-block-with-copy-right > div {
    padding-right: 0;
    padding-left: 0;
}
@media (max-width: 47.94em){
    .td-article-list .article-pubdate {
        padding: 0px 15px; 
        margin-top: 10px; 
    }
}




/* End Leadership  Artical Section */


/* Start Insight Sectiopn */

.td-contentarea .td-more-article{
    margin-top: 50px;
}
/*End Insight Section

/*Underwriting */
.td-contentarea .td-column-margin{
    margin-top: 50px;
}
.rte .td-text-action{
    margin-top: 20px;
}
.rte .td-underwriting-text-center{
    text-align: center;
}
.td-underwriting-multicolumn h2{
    margin-bottom: 20px;
}
.rte .td-bold-text{
    font-weight: bold;
}
.rte .td-rte-margin-top{
    margin-bottom:180px;
}
.td-underwriting-text p{
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
}

.td-show-grid{
    margin-bottom: 15px;
}
.td-bg-light-white{
    background-color: white;
}
.td-partners-container .partner-title {
    margin-bottom: 30px !important;
    margin-top: 0;
    text-align: center;
}
.td-partners-container .partner-block {
    float: left;
    text-align: center;
    padding: 0;
}

.td-divider-margin{
    margin-top: 40px !important;
}

.td-contentarea  .td-image-block-right-with-copy-background{
    margin-top: -0px;
}
.td-image-block-right-with-copy-background > div .vis > div img {
    height: auto;
    width:100%;
}
@media (min-width: 75em){
    .td-partners-container .partner-block {
        width: 20%;
    }
}

@media (max-width: 47.94em){
    .td-contentarea .td-image-block-right-with-copy-background  {
        margin-top: 25px;
    }
}

@media (max-width: 48em){
    .rte .td-underwriting-mobile-text-center{
        text-align: center;
    }
}
@media (max-width: 48em){
    .rte .td-rte-margin-top {
         margin-bottom: 0px; 
    }
}
@media (max-width: 48em){
    .td-insight-banner {
        background-position: 50% 146px !important;
    }
}





/*Underwriting */






