.td-nav-primary .td-logo img {
    width: auto;
    height: 53px
}

.td-nav-primary .td-nav-desktop-search {
    padding-left: 230px
}

.td-nav-primary .td-dropdown-active > .td-dropdown-content li {
    margin-right: 0;
    margin-bottom: 0
}

.td-nav-primary .td-dropdown-active > .td-dropdown-content li > a {
    padding: 7px 30px;
    font-size: 16.5px;
    font-size: 1.03125rem
}

.td-nav-primary .td-quick-access .login .td-dropdown-content {
    width: 800px;
    min-width: 415px
}

.td-nav-primary ul > li.td-us-public-login {
    cursor: default;
    position: relative;
    padding: 0 12px
}

.td-nav-primary ul > li.td-us-public-login .td-icon.expand, .td-nav-primary ul > li.td-us-public-login .td-icon.collapse {
    margin-left: 8px;
    padding-top: 3px
}

.td-nav-primary ul > li.td-us-public-login .td-icon.expand:before,
.td-nav-primary ul > li.td-us-public-login .td-icon.collapse:before {
    width: 0.9em
}

.td-nav-primary ul > li.td-us-public-login .td-dropdown-content {
    padding-top: 20px;
    padding-bottom: 30px
}

.td-nav-primary ul > li.td-us-public-login .td-dropdown-content h2 {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0px 30px 0px 20px
}

.td-nav-primary ul > li.td-us-public-login .td-dropdown-content > div {
    display: flex
}

.td-nav-primary ul > li.td-us-public-login .td-dropdown-content > div .td-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333333333333%
}

.td-nav-primary ul > li.td-us-public-login .td-dropdown-content > div .td-col:first-child {
    border-left: 0
}

.td-nav-primary ul > li.td-us-public-login .td-dropdown-content > div .td-col {
    border-left: solid 1px #ccc
}

.td-nav-primary ul > li.td-us-public-login .td-dropdown-content > div .td-col:last-child {
    margin-left: -1px
}

.td-nav-primary ul > li.td-us-public-login .td-dropdown-content > div h3 {
    margin: 0;
    letter-spacing: 0.02em;
    color: #1c1c1c
}

.td-nav-primary ul > li.td-us-public-login .td-col:first-child h3 {
    padding: 0 30px 5px 20px
}

.td-nav-primary ul > li.td-us-public-login .td-col:first-child li > a {
    padding: 10px 30px 10px 20px
}

.td-nav-primary ul > li.td-us-public-login .td-col:last-child h3 {
    padding: 0 20px 5px 30px
}

.td-nav-primary ul > li.td-us-public-login .td-col:last-child li > a {
    padding: 10px 20px 10px 30px
}

.td-nav-primary ul > li.td-us-public-login .td-col h3 {
    padding: 0 30px 5px 30px
}

.td-nav-primary ul > li.td-us-public-login .td-col li {
    margin-bottom: 0
}

.td-nav-primary ul > li.td-us-public-login .td-col li > a {
    padding: 10px 30px;
    font-size: 16.5px;
    font-size: 1.03125rem;
    line-height: 16px;
    line-height: 1rem
}

.td-nav-primary ul > li.td-us-public-login + li {
    margin-left: 6px
}

.td-header-mobile .td-logo img {
    width: auto;
    height: 32px
}

.td-nav-mobile-menu-header .td-logo img {
    width: auto;
    height: 32px
}

.td-nav-mobile-menu-secondary ul.td-nav-mobile-menu-list li.td-nav-mobile-menu-item {
    font-family: "TD Graphik Medium"
}

footer .td-footer-content .td-footer-social {
    margin: 0 auto 40px auto;
    padding: 10px 13px 0 13px
}

footer .td-footer-content .td-footer-social ul li {
    margin-right: 20px
}

footer .td-footer-content .td-footer-social ul li:last-child {
    margin-right: 0
}

footer .td-footer-content .td-footer-links {
    line-height: 2.65
}

footer .td-footer-content .td-footer-links a {
    margin-right: 30px
}

footer .td-footer-content .td-footer-links a:last-child {
    margin-right: 0
}

footer .td-footer-content.td-footer-no-background-img {
    padding: 55px 0 0 0
}

footer .td-footer-content .td-footer-copy {
    color: #fff;
    margin-top: 60px
}

footer .td-footer-content .td-no-padding {
    padding-left: 0;
    padding-right: 0
}

footer .td-footer-content hr.td-thin-divider-line-footer {
    margin-top: 40px;
    width: 100%;
    border: 0 none;
    background-color: #9ec2b1;
    height: 1px
}

footer .td-footer-content .td-footer-legal-content, footer .td-footer-content .td-footer-secondary-nav {
    font-size: 12px;
    font-size: .75rem;
    color: #9ec2b1
}

footer .td-footer-content .td-footer-legal-content p, footer .td-footer-content .td-footer-legal-content table,
footer .td-footer-content .td-footer-legal-content tr, footer .td-footer-content .td-footer-legal-content td,
footer .td-footer-content .td-footer-legal-content a, footer .td-footer-content .td-footer-secondary-nav p,
footer .td-footer-content .td-footer-secondary-nav table, footer .td-footer-content .td-footer-secondary-nav tr,
footer .td-footer-content .td-footer-secondary-nav td, footer .td-footer-content .td-footer-secondary-nav a {
    font-size: 12px;
    font-size: .75rem;
    color: #9ec2b1
}

footer .td-footer-content .td-footer-secondary-nav {
    margin-top: 40px
}

footer .td-footer-content .td-footer-secondary-nav span.house {
    white-space: nowrap;
    margin-right: 30px
}

footer .td-footer-content .td-footer-secondary-nav a {
    white-space: nowrap;
    margin-right: 30px
}

footer .td-footer-content .td-footer-secondary-nav a:last-child {
    margin-right: 0
}

footer .td-footer-content .td-footer-secondary-nav a img {
    margin-right: 10px
}

footer .td-footer-content .td-footer-secondary-nav img.house {
    margin-right: 10px;
    margin-top: -5px;
    height: 14px
}

footer .td-footer-content .rte {
    font-size: 12px;
    font-size: .75rem;
    color: #9ec2b1
}

footer .td-footer-content .rte p, footer .td-footer-content .rte table,
footer .td-footer-content .rte tr, footer .td-footer-content .rte td {
    font-size: 12px;
    font-size: .75rem;
    color: #9ec2b1
}

footer .td-footer-content .rte p {
    text-align: left
}

footer .td-footer-content .rte table {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%
}

footer .td-footer-content .rte table tr:nth-child(n) td {
    border-bottom: 0;
    width: 33.33333333333333%
}

footer .td-footer-content .rte table tr:first-child td {
    border-bottom: 0;
    width: 100%
}

footer .td-footer-content .rte table tr:last-child td {
    border-bottom: 1px solid #9ec2b1
}

footer .td-footer-content .rte table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #9ec2b1;
    border-left: 1px solid #9ec2b1;
    border-right: 0
}

footer .td-footer-content .rte table tr td:last-child {
    border-right: 1px solid #9ec2b1
}

@media only screen and (max-width: 74.94em) {
    footer .td-footer-content.td-footer-no-background-img {
        padding: 44px 0 0 0
    }
}

@media only screen and (max-width: 63.94em) {
    footer .td-footer-content.td-footer-no-background-img {
        padding: 53px 15px 0 15px
    }
}

@media only screen and (max-width: 47.94em) {
    footer .td-footer-content .td-footer-social ul {
        width: 200px;
        margin-left: auto;
        margin-right: auto
    }

    footer .td-footer-content .td-footer-social ul li:nth-child(3), footer .td-footer-content .td-footer-social ul li:nth-child(6) {
        margin-right: 0
    }

    footer .td-footer-content .td-footer-social ul li:nth-child(1), footer .td-footer-content .td-footer-social ul li:nth-child(2),
    footer .td-footer-content .td-footer-social ul li:nth-child(3) {
        margin-bottom: 20px
    }

    footer .td-footer-content .td-footer-links {
        line-height: 2.65
    }

    footer .td-footer-content .td-footer-links a {
        margin-right: 0;
        margin-bottom: 20px
    }

    footer .td-footer-content .td-footer-links a:last-child {
        margin-bottom: 0
    }

    footer .td-footer-content.td-footer-no-background-img {
        padding: 53px 15px 48px 15px
    }

    footer .td-footer-content .td-footer-copy {
        margin-top: 40px
    }

    footer .td-footer-content .td-no-padding {
        padding-left: 15px;
        padding-right: 15px
    }

    footer .td-footer-content .td-footer-secondary-nav .rte span.house {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-right: 0
    }

    footer .td-footer-content .td-footer-secondary-nav .rte a {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-top: 20px
    }

    footer .td-footer-content .td-footer-secondary-nav .rte a:first-child {
        margin-top: 0
    }

    footer .td-footer-content .rte table tr td {
        display: block;
        border-top: 0;
        border-right: 1px solid #9ec2b1
    }

    footer .td-footer-content .rte table tr:nth-child(n) td {
        width: 100%;
        border-bottom: 1px solid #9ec2b1
    }

    footer .td-footer-content .rte table tr:first-child td {
        border-top: 1px solid #9ec2b1;
        border-bottom: 1px solid #9ec2b1
    }
}

.td-region-selector .td-modal-header {
    margin-top: 40px !important
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area {
    padding-left: 40px;
    padding-right: 40px
}

@media only screen and (max-width: 47.94em) {
    .td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area {
        padding-left: 15px;
        padding-right: 15px
    }
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .td-error-box {
    background-color: #f7e8e9;
    padding-left: 20px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .td-error-box .td-icon {
    display: block;
    float: left;
    font-size: 24px;
    font-size: 1.5rem;
    margin: 15px 15px 15px 0
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .td-error-box > div {
    float: left
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .clearfix {
    display: inline-block
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area * html .clearfix {
    height: 1%
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .clearfix {
    display: block
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.td-error {
    color: #ae0101;
    margin-top: 8px;
    text-align: left;
    font-size: 14px;
    font-size: .875rem
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group {
    margin-right: 2px;
    margin-top: 30px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-focus-underline.error {
    background: #ae1100
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group + .form-group {
    margin-top: 20px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group label {
    font-size: 16px;
    font-size: 1rem;
    font-family: "Webly Sleek SemiBold", Helvetica-, droid sans, sans-serif
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group input,
.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group select {
    margin-top: 12px;
    font-size: 16px;
    font-size: 1rem;
    height: 42px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select {
    position: relative
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select:after {
    top: 48%;
    width: .5rem;
    height: .5rem;
    font-size: .625em;
    line-height: 1;
    margin-top: -.5em;
    right: 1.2em;
    color: #fff;
    border: 3px solid #1c1c1c;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select:hover:after,
.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select:focus:after {
    border-color: #008a00
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select:after,
.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select:before {
    content: "";
    pointer-events: none;
    position: absolute;
    border-bottom-width: 2px;
    border-right-width: 2px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -ms-user-select: none;
    background-position: 97% 50%;
    background-repeat: no-repeat
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select select::-ms-expand {
    display: none
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select select.error {
    background: #f7e8e9;
    outline-width: 0 !important;
    outline-style: none !important;
    border-bottom: 2px solid #ae1100;
    outline: 0
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select select.error:hover,
.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select select.error:focus {
    border-bottom: 2px solid #ae1100
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select select:hover,
.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .td-select select:focus {
    outline-width: 0 !important;
    outline-style: none !important;
    border-bottom: 2px solid #008a00;
    outline: 0
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .predictive {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px #b5b5b5;
    -moz-box-shadow: 0px 0px 10px 0px #b5b5b5;
    box-shadow: 0px 0px 10px 0px #b5b5b5
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .predictive.predictive-open {
    display: block
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .predictive ul {
    list-style: none;
    padding-left: 0;
    margin: 5px 0 3px 0
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .predictive ul li {
    cursor: pointer
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .predictive ul li:hover {
    background-color: #f3f3f8
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .form-group .predictive ul li a {
    color: #1c1c1c;
    display: block;
    text-indent: 16px;
    text-decoration: none
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
    width: 100%
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset > div {
    width: 139px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset legend.country {
    border: 0;
    margin-bottom: 20px;
    display: block
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset legend.country img {
    margin-right: 10px;
    margin-top: -3px;
    height: 10px;
    outline: 0
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset legend.country.td-center {
    text-align: center
}

@media only screen and (max-width: 47.94em) {
    .td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset legend.country.td-center {
        text-align: left
    }
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    word-break: keep-all
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked {
    margin-top: 30px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
    top: 0;
    left: 0
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked input[type="radio"]:not([disabled]) {
    background: white;
    border-color: #00a221 !important
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked input[type="radio"] + label.card {
    margin-right: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked input.checked + label.card {
    background-color: #038203;
    border: 0;
    color: #fff
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked input + label.card:not(.label-checked):hover,
.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked input + label.card:not(.label-checked):focus {
    outline: none;
    background-color: #d9ebd9
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked input + label.card.first-label {
    border-radius: 4px 0 0 4px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-right: 0px !important;
    border-right: none !important
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked input + label.card.second-label {
    margin-right: 0 !important
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked input + label.card:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked label.card {
    margin-bottom: 0 !important;
    width: 57.5px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked label.td-sim-select-stacked {
    width: 50%
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area fieldset.td-radio-checkbox-inline.stacked .toggle + label {
    height: 42px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px
}

@media only screen and (max-width: 47.94em) {
    .td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area h2 {
        text-align: left
    }

    .td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area h2 span.lineBreak {
        display: block
    }
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p {
    font-size: 16.5px;
    font-size: 1.03125rem;
    text-align: center
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.region-footer {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    font-size: .875rem
}

@media only screen and (max-width: 47.94em) {
    .td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.region-footer {
        margin-bottom: 10px
    }
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.region-footer a {
    display: block
}

@media only screen and (max-width: 47.94em) {
    .td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p {
        text-align: left
    }
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.td-align-left {
    text-align: left
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area a.td-link-standalone {
    margin-top: 30px;
    display: block
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area a.td-link-standalone img {
    margin-right: 10px;
    margin-top: -3px;
    height: 10px;
    outline: 0
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area a.td-link-standalone.td-center {
    text-align: center
}

@media only screen and (max-width: 47.94em) {
    .td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area a.td-link-standalone.td-center {
        text-align: left
    }
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area button {
    margin: 50px auto 0 auto;
    width: 240px
}

.td-region-selector .custom_scroll_parent_div .td_rq_scrollbar .srollable_area button + button {
    margin: 20px auto 0 auto !important
}

.td-region-selector .td-modal-footer {
    position: absolute;
    width: 100%;
    bottom: 0
}

.td-region-selector .td-modal-footer .td-modal-footer-content {
    font-size: 14px;
    font-size: .875rem;
    font-family: "Webly Sleek SemiBold", Helvetica-, droid sans, sans-serif;
    background-color: #f3f3f8;
    padding: 20px 15px
}

.td-region-selector .td-modal-footer .td-modal-footer-content p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0
}

@media only screen and (max-width: 47.94em) {
    .td-region-selector .td-modal-footer .td-modal-footer-content p {
        text-align: left
    }
}

.td-region-selector .td-modal-footer .td-modal-footer-content p a {
    display: block
}

@media only screen and (max-width: 47.94em) {
    .td-region-selector .td-modal-footer .td-modal-footer-content p a {
        display: inline
    }
}

.td-region-selector #zip_code::-webkit-inner-spin-button, .td-region-selector #zip_code::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.td-region-selector #zip_code {
    -moz-appearance: textfield
}

.td-change-region {
    text-align: center
}

.td-change-region p {
    margin-top: 0;
    margin-bottom: 0
}

.td-change-region .location {
    height: 30px;
    margin-right: 5px;
    margin-top: -3px
}

@media (max-width: 47.94em) {
    .td-change-region {
        text-align: left
    }

    .td-change-region p span, .td-change-region p a {
        display: block
    }

    .td-change-region p > span {
        float: left
    }

    .td-change-region p > span:first-child {
        width: 28px
    }
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-thin-divider-line-1 {
    margin-top: 30px
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .rates-label {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .rates-label:first-child {
    border-right: 1px solid #ccc
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .td-rate {
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 40px;
    line-height: 2.5rem
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .td-percent {
    font-size: 17.6px;
    font-size: 1.1rem;
    line-height: 1.6rem;
    vertical-align: top
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info p {
    margin-top: 0;
    margin-bottom: 0
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group {
    width: 75%;
    text-align: left;
    margin: 20px auto 0 auto
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group label,
.td-row .td-catalogue-card.td-catalogue-card-rates .form-group span.dropdown-label {
    font-size: 16px;
    font-size: 1rem;
    font-family: "Webly Sleek SemiBold", Helvetica-, droid sans, sans-serif
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group span.dropdown-label {
    font-weight: bold
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group select {
    margin-top: 12px;
    font-size: 16px;
    font-size: 1rem;
    height: 42px
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select {
    position: relative
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select:after {
    top: 48%;
    width: .5rem;
    height: .5rem;
    font-size: .625em;
    line-height: 1;
    margin-top: -.5em;
    right: 1.2em;
    color: #fff;
    border: 3px solid #1c1c1c;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select:hover:after,
.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select:focus:after {
    border-color: #008a00
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select:after,
.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select:before {
    content: "";
    pointer-events: none;
    position: absolute;
    border-bottom-width: 2px;
    border-right-width: 2px
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -ms-user-select: none;
    background-position: 97% 50%;
    background-repeat: no-repeat
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select select::-ms-expand {
    display: none
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select select.error {
    background: #f7e8e9
}

.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select select:hover,
.td-row .td-catalogue-card.td-catalogue-card-rates .form-group .td-select select:focus {
    outline-width: 0 !important;
    outline-style: none !important;
    border-bottom: 2px solid #008a00;
    outline: 0
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .double:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .rates-label-pl {
    float: left;
    width: 45%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .rates-label-pl:first-child {
    border-right: 0px;
    text-align: right
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .rates-label-pl:last-child {
    text-align: left
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .rates-label-pl-dash {
    float: left;
    width: 10%;
    font-weight: bold
}

.td-row .td-catalogue-card.td-catalogue-card-rates .td-rate-info .rates-label-pl-dash > div {
    margin-top: 10px
}

.td-text-with-drop-down2 .form-group {
    text-align: center;
    margin: 0 auto
}

.td-text-with-drop-down2 .form-group label {
    font-size: 16px;
    font-size: 1rem;
    font-family: "Webly Sleek SemiBold", Helvetica-, droid sans, sans-serif;
    margin-right: 10px
}

.td-text-with-drop-down2 .form-group select {
    font-size: 16px;
    font-size: 1rem;
    height: 43px
}

.td-text-with-drop-down2 .form-group .td-select {
    position: relative;
    display: inline-block;
    width: 160px
}

.td-text-with-drop-down2 .form-group .td-select:after {
    top: 48%;
    width: .5rem;
    height: .5rem;
    font-size: .625em;
    line-height: 1;
    margin-top: -.5em;
    right: 1.2em;
    color: #fff;
    border: 3px solid #1c1c1c;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block
}

.td-text-with-drop-down2 .form-group .td-select:hover:after, .td-text-with-drop-down2 .form-group .td-select:focus:after {
    border-color: #008a00
}

.td-text-with-drop-down2 .form-group .td-select:after, .td-text-with-drop-down2 .form-group .td-select:before {
    content: "";
    pointer-events: none;
    position: absolute;
    border-bottom-width: 2px;
    border-right-width: 2px
}

.td-text-with-drop-down2 .form-group .td-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -ms-user-select: none;
    background-position: 97% 50%;
    background-repeat: no-repeat
}

.td-text-with-drop-down2 .form-group .td-select select::-ms-expand {
    display: none
}

.td-text-with-drop-down2 .form-group .td-select select.error {
    background: #f7e8e9
}

.td-text-with-drop-down2 .form-group .td-select select:hover, .td-text-with-drop-down2 .form-group .td-select select:focus {
    outline-width: 0 !important;
    outline-style: none !important;
    border-bottom: 2px solid #008a00;
    outline: 0
}

.td_rq_compare-table .td-container .no-padding {
    padding: 0;
    vertical-align: top
}

@media (max-width: 47.94em) {
    .td_rq_compare-table .td-container .no-padding span.align {
        top: auto;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none
    }
}

.td_rq_compare-table .td-container table > tbody tr .col-first {
    font-family: "Webly Sleek SemiBold", Helvetica-, droid sans, sans-serif
}

.td_rq_compare-table .td-container table > tbody tr td .form-group {
    width: 100%;
    text-align: left
}

.td_rq_compare-table .td-container table > tbody tr td .form-group label {
    font-size: 16px;
    font-size: 1rem;
    font-family: "Webly Sleek SemiBold", Helvetica-, droid sans, sans-serif
}

.td_rq_compare-table .td-container table > tbody tr td .form-group select {
    font-size: 16px;
    font-size: 1rem;
    height: 42px
}

.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select {
    position: relative
}

.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select:after {
    top: 48%;
    width: .5rem;
    height: .5rem;
    font-size: .625em;
    line-height: 1;
    margin-top: -.5em;
    right: 1.2em;
    color: #fff;
    border: 3px solid #1c1c1c;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block
}

.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select:hover:after,
.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select:focus:after {
    border-color: #008a00
}

.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select:after,
.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select:before {
    content: "";
    pointer-events: none;
    position: absolute;
    border-bottom-width: 2px;
    border-right-width: 2px
}

.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -ms-user-select: none;
    background-position: 97% 50%;
    background-repeat: no-repeat
}

.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select select::-ms-expand {
    display: none
}

.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select select.error {
    background: #f7e8e9
}

.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select select:hover,
.td_rq_compare-table .td-container table > tbody tr td .form-group .td-select select:focus {
    outline-width: 0 !important;
    outline-style: none !important;
    border-bottom: 2px solid #008a00;
    outline: 0
}

.td_rq_compare-table .td-container table.nested-table {
    table-layout: fixed;
    width: 100%
}

@media (max-width: 47.94em) {
    .td_rq_compare-table .td-container table.nested-table > thead tr {
        display: block
    }
}

.td_rq_compare-table .td-container table.nested-table > thead tr th {
    text-align: right;
    padding: 10px;
    font-weight: normal;
    vertical-align: top
}

.td_rq_compare-table .td-container table.nested-table > thead tr th:first-child {
    text-align: left;
    border-right: 0;
    width: 38%
}

@media (max-width: 47.94em) {
    .td_rq_compare-table .td-container table.nested-table > thead tr th {
        background-color: #fff;
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 0;
        height: auto;
        border-bottom: 1px solid #ccc
    }

    .td_rq_compare-table .td-container table.nested-table > thead tr th:first-child {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0;
        height: auto;
        border-bottom: 0
    }
}

@media (max-width: 47.94em) {
    .td_rq_compare-table .td-container table.nested-table > tbody tr {
        display: block
    }

    .td_rq_compare-table .td-container table.nested-table > tbody tr:first-child td:first-child {
        padding-top: 10px
    }
}

.td_rq_compare-table .td-container table.nested-table > tbody tr td {
    height: auto;
    text-align: right;
    border-right: 0;
    border-bottom: 0;
    padding: 10px
}

.td_rq_compare-table .td-container table.nested-table > tbody tr td:first-child {
    text-align: left;
    width: 38%
}

@media (max-width: 47.94em) {
    .td_rq_compare-table .td-container table.nested-table > tbody tr td {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 0;
        height: auto;
        border-bottom: 0;
        min-height: 0
    }

    .td_rq_compare-table .td-container table.nested-table > tbody tr td:first-child {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
        border-bottom: 0
    }
}

.td_article.content .td-container > div > div {
    padding-left: 0;
    padding-right: 0
}

.td_article.content .td-container > div > div:first-child {
    float: none;
    margin: auto
}

.td_article.content .td-container > div > div:first-child .td-lazy {
    padding: 0
}

.td_article.content .td-container > div > div:first-child .RTE, .td_article.content .td-container > div > div:first-child .rte {
    margin-left: -11px;
    margin-right: -11px
}

.td_article.content .td-container > div > div:first-child .RTE .td-lazy.td-rte-text-warp-right img,
.td_article.content .td-container > div > div:first-child .rte .td-lazy.td-rte-text-warp-right img {
    float: right;
    margin: 10px
}

.td_article.content .td-container > div > div:first-child .RTE .td-lazy.td-rte-text-warp-left img,
.td_article.content .td-container > div > div:first-child .rte .td-lazy.td-rte-text-warp-left img {
    float: left;
    margin: 10px
}

@media (max-width: 74.94em) {
    .td_article.content .td-container > div {
        padding-left: 0;
        padding-right: 0
    }
}

@media (max-width: 63.94em) {
    .td_article.content .td-container > div > div:first-child .RTE, .td_article.content .td-container > div > div:first-child .rte {
        margin-left: 0;
        margin-right: 0
    }
}

@media (max-width: 47.94em) {
    .td_article.content .td-container > div > div {
        padding-left: 15px;
        padding-right: 15px
    }

    .td_article.content .td-container > div > div:first-child .RTE, .td_article.content .td-container > div > div:first-child .rte {
        margin-left: auto;
        margin-right: auto
    }

    .td_article.content .td-container > div > div:first-child .RTE .td-lazy.td-rte-text-warp-right img,
    .td_article.content .td-container > div > div:first-child .RTE .td-lazy.td-rte-text-warp-left img,
    .td_article.content .td-container > div > div:first-child .rte .td-lazy.td-rte-text-warp-right img,
    .td_article.content .td-container > div > div:first-child .rte .td-lazy.td-rte-text-warp-left img {
        float: none;
        margin: 0;
        width: 100% !important
    }
}

.td-a-banner-product-account .td-indicator-offer-type2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Webly Sleek SemiLight Italic", Helvetica-, droid sans, sans-serif;
    letter-spacing: 3px;
    display: none
}

.td-a-banner-product-account .td-indicator-offer-type2.show {
    display: block
}

.td-a-banner-product-account .td-indicator-offer-type2 .ribbon {
    height: 30px;
    font-size: 14px;
    font-size: .875rem
}

.td-a-banner-product-account .td-indicator-offer-type2 .ribbon > div {
    margin-top: 3px
}

.td-a-banner-product-account .td-indicator-offer-type2 .ribbon-left:before,
.td-a-banner-product-account .td-indicator-offer-type2 .ribbon-right:after {
    height: 30px;
    border: 15px solid transparent;
    border-top-color: #008a00;
    border-bottom-color: #008a00
}

.td-a-banner-product-account .td-indicator-offer-type2 .ribbon-right:after {
    right: -15px
}

.td-a-banner-product-account ul.td-product-features .td-product-feature-text {
    font-size: 0.875rem;
    padding: 0;
    margin: 0
}

.td-a-banner-product-account ul.td-product-features .td-product-feature-subtext {
    font-size: 1.8rem;
    padding: 0;
    margin: 0
}

@media (max-width: 47.94em) {
    .td-a-banner-product-account .td-indicator-offer-type2 {
        margin-left: -13px
    }

    .td-a-banner-product-account ul.td-product-features .td-product-feature-text {
        font-size: 0.875rem
    }

    .td-a-banner-product-account ul.td-product-features .td-product-feature-subtext {
        font-size: 1.5rem;
        margin-top: -3px
    }
}

.td-a-banner.loginbox .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-header,
.td-parallax-banner.loginbox .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-header,
.td-a-banner-loginbox.loginbox .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-header {
    font-family: "Webly Sleek Light", Helvetica-, droid sans, sans-serif
}

.td-a-banner.OAS1 .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-header,
.td-a-banner.product .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-header,
.td-parallax-banner.OAS1 .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-header,
.td-parallax-banner.product .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-header,
.td-a-banner-loginbox.OAS1 .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-header,
.td-a-banner-loginbox.product .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-header {
    font-family: "Webly Sleek Light", Helvetica-, droid sans, sans-serif
}

.td-a-banner.OAS1 .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-body,
.td-a-banner.product .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-body,
.td-parallax-banner.OAS1 .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-body,
.td-parallax-banner.product .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-body,
.td-a-banner-loginbox.OAS1 .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-body,
.td-a-banner-loginbox.product .td-container .td-col .td-a-banner-callout.parallax-banner.background-color-white .td-banner-body {
    font-family: "Webly Sleek Light", Helvetica-, droid sans, sans-serif
}

.td-a-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner h2,
.td-a-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner .td-banner-header,
.td-a-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner .rte,
.td-a-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner .rte p,
.td-a-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner h2,
.td-a-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner .td-banner-header,
.td-a-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner .rte,
.td-a-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner .rte p,
.td-parallax-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner h2,
.td-parallax-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner .td-banner-header,
.td-parallax-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner .rte,
.td-parallax-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner .rte p,
.td-parallax-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner h2,
.td-parallax-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner .td-banner-header,
.td-parallax-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner .rte,
.td-parallax-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner .rte p,
.td-a-banner-loginbox.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner h2,
.td-a-banner-loginbox.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner .td-banner-header,
.td-a-banner-loginbox.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner .rte,
.td-a-banner-loginbox.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner .rte p,
.td-a-banner-loginbox.video2 .td-container .td-col .td-a-banner-callout.parallax-banner h2,
.td-a-banner-loginbox.video2 .td-container .td-col .td-a-banner-callout.parallax-banner .td-banner-header,
.td-a-banner-loginbox.video2 .td-container .td-col .td-a-banner-callout.parallax-banner .rte,
.td-a-banner-loginbox.video2 .td-container .td-col .td-a-banner-callout.parallax-banner .rte p {
    font-family: "Webly Sleek Light", Helvetica-, droid sans, sans-serif
}

.td-a-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner a.td-link-standalone,
.td-a-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner a.td-link-standalone,
.td-parallax-banner.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner a.td-link-standalone,
.td-parallax-banner.video2 .td-container .td-col .td-a-banner-callout.parallax-banner a.td-link-standalone,
.td-a-banner-loginbox.OAS3 .td-container .td-col .td-a-banner-callout.parallax-banner a.td-link-standalone,
.td-a-banner-loginbox.video2 .td-container .td-col .td-a-banner-callout.parallax-banner a.td-link-standalone {
    font-family: "Webly Sleek Light", Helvetica-, droid sans, sans-serif
}

.video-player-button {
    position: absolute;
    top: 110px;
    left: 150px;
    z-index: 1
}

@media only screen and (min-width: 48em) and (max-width: 74.94em) {
    .video-player-button {
        top: 190px;
        left: 157px
    }
}

@media only screen and (min-width: 30em) and (max-width: 63.94em) {
    .video-player-button {
        top: 180px;
        left: 94px
    }
}

@media only screen and (max-width: 47.94em) {
    .video-player-button {
        top: 100px;
        left: 130px
    }
}

.td-a-banner.a-banner-cta .td-container .td-col .td-a-banner-callout h2,
.td-a-banner.a-banner-cta .td-container .td-col .td-a-banner-callout .td-banner-header,
.td-a-banner.a-banner-cta .td-container .td-col .td-a-banner-callout .rte,
.td-a-banner.a-banner-cta .td-container .td-col .td-a-banner-callout .rte p {
    font-family: "Webly Sleek Light", Helvetica-, droid sans, sans-serif
}

.td-spinner {
    height: 100%;
    width: 100%;
    background: #f3f3f8;
    display: none;
    justify-content: center;
    text-align: center;
    opacity: 0.7;
    position: absolute;
    z-index: 9998
}

.td-spinner img {
    height: 40px;
    width: 40px
}

.td-multiple-cta .td-cta .td-cta-action a {
    color: #038203;
    text-decoration: underline
}

.td-multiple-cta .td-cta .td-cta-action .td-cta-info span {
    line-height: 1.5;
    font-weight: normal;
    font-size: 1.066667rem
}

.td-speed-bump .td-modal-header {
    margin-top: 40px !important
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area {
    padding-left: 40px;
    padding-right: 40px
}

@media only screen and (max-width: 47.94em) {
    .td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area {
        padding-left: 15px;
        padding-right: 15px
    }
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .clearfix {
    display: inline-block
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area * html .clearfix {
    height: 1%
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area .clearfix {
    display: block
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px
}

@media only screen and (max-width: 47.94em) {
    .td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area h2 span.lineBreak {
        display: block
    }
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p {
    font-size: 16.5px;
    font-size: 1.03125rem;
    text-align: left
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.speed-bump-footer {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    font-size: .875rem
}

@media only screen and (max-width: 47.94em) {
    .td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.speed-bump-footer {
        margin-bottom: 10px
    }
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.speed-bump-footer a {
    display: block
}

@media only screen and (max-width: 47.94em) {
    .td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p {
        text-align: left
    }
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.td-align-left {
    text-align: left
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area p.speed-bump-footer + p.speed-bump-footer {
    margin-top: 0
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area a.td-link-standalone {
    margin-top: 30px;
    display: block
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area a.td-link-standalone img {
    margin-right: 10px;
    margin-top: -3px;
    height: 10px;
    outline: 0
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area a.td-link-standalone.td-center {
    text-align: center
}

@media only screen and (max-width: 47.94em) {
    .td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area a.td-link-standalone.td-center {
        text-align: left
    }
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area button {
    margin: 50px auto 0 auto;
    width: 240px
}

.td-speed-bump .custom_scroll_parent_div .td_rq_scrollbar .srollable_area button + button {
    margin: 20px auto 0 auto !important
}

.td-speed-bump .td-modal-footer {
    position: absolute;
    width: 100%;
    bottom: 0
}

.td-speed-bump .td-modal-footer .td-modal-footer-content {
    font-size: 14px;
    font-size: .875rem;
    font-family: "Webly Sleek SemiBold", Helvetica-, droid sans, sans-serif;
    background-color: #f3f3f8;
    padding: 20px 15px
}

.td-speed-bump .td-modal-footer .td-modal-footer-content p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0
}

@media only screen and (max-width: 47.94em) {
    .td-speed-bump .td-modal-footer .td-modal-footer-content p {
        text-align: left
    }
}

.td-speed-bump .td-modal-footer .td-modal-footer-content p a {
    display: block
}

@media only screen and (max-width: 47.94em) {
    .td-speed-bump .td-modal-footer .td-modal-footer-content p a {
        display: inline
    }
}

.tdbus-mortgage-calculator .has-error .input-group-addon {
    color: #1c1c1c;
    border-color: #1c1c1c;
    background-color: #fff
}

.tdbus-mortgage-calculator .td-error {
    display: none
}

.tdbus-mortgage-calculator h2 {
    text-align: center;
    margin-top: 0
}

.tdbus-mortgage-calculator button {
    width: 270px;
    margin-left: auto;
    margin-right: auto
}

.tdbus-mortgage-calculator a.td-bst-desc {
    border-bottom: 0
}

.tdbus-mortgage-calculator a.td-bst-desc span {
    font-size: 20px;
    top: 3px
}

.tdbus-mortgage-calculator .form-control {
    padding: 0 15px 3px;
    font-size: 16px
}

.tdbus-mortgage-calculator label + a.td-bst-desc + .form-control,
.tdbus-mortgage-calculator label + a.td-bst-desc + .input-group, .tdbus-mortgage-calculator label + a.td-bst-desc + .popover + .form-control,
.tdbus-mortgage-calculator label + a.td-bst-desc + .popover + .input-group {
    margin-top: 10px
}

.tdbus-mortgage-calculator .cta {
    margin-top: 20px
}

@media only screen and (min-width: 30em) and (max-width: 63.94em) {
    .tdbus-mortgage-calculator .inputboxes > div:last-child, .tdbus-mortgage-calculator .inputboxes > div:nth-child(3) {
        margin-top: 20px
    }
}

@media only screen and (max-width: 47.94em) {
    .tdbus-mortgage-calculator .inputboxes > div:first-child {
        margin-top: 0
    }

    .tdbus-mortgage-calculator .inputboxes > div {
        margin-top: 20px
    }

    .tdbus-mortgage-calculator button {
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }
}

.tdbus-mortgage-calculator .calc_zip_code {
    -moz-appearance: textfield
}

.tdbus-mortgage-calculator .calc_zip_code::-webkit-inner-spin-button,
.tdbus-mortgage-calculator .calc_zip_code::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.ribbon {
    background: #008a00;
    position: relative;
    height: 26px;
    padding: 2px 15px 0 12px;
    display: inline-block;
    color: #fff;
    font-size: 15px
}

.ribbon-left:before, .ribbon-right:after {
    content: '';
    position: absolute;
    height: 26px;
    border: 13px solid transparent;
    top: 0;
    width: 0;
    border-top-color: #008a00;
    border-bottom-color: #008a00
}

.ribbon-left:before {
    left: -13px
}

.ribbon-right:after {
    right: -13px
}

.td-catalogue-card.td-catalogue-card-accounts .td-indicator-offer-type2,
.td-catalogue-card .td-indicator-offer-type2, .td-catalogue-card td-catalogue-card-rates .td-indicator-offer-type2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Webly Sleek SemiLight Italic", Helvetica-, droid sans, sans-serif;
    letter-spacing: 3px;
    display: none
}

.td-catalogue-card.td-catalogue-card-accounts .td-indicator-offer-type2.show,
.td-catalogue-card .td-indicator-offer-type2.show, .td-catalogue-card td-catalogue-card-rates .td-indicator-offer-type2.show {
    display: block
}

.td-catalogue-card.td-catalogue-card-accounts .td-indicator-offer-type2 .ribbon,
.td-catalogue-card .td-indicator-offer-type2 .ribbon, .td-catalogue-card td-catalogue-card-rates .td-indicator-offer-type2 .ribbon {
    height: 30px;
    font-size: 14px;
    font-size: .875rem
}

.td-catalogue-card.td-catalogue-card-accounts .td-indicator-offer-type2 .ribbon > div,
.td-catalogue-card .td-indicator-offer-type2 .ribbon > div, .td-catalogue-card td-catalogue-card-rates .td-indicator-offer-type2 .ribbon > div {
    margin-top: 3px
}

.td-catalogue-card.td-catalogue-card-accounts .td-indicator-offer-type2 .ribbon-left:before,
.td-catalogue-card.td-catalogue-card-accounts .td-indicator-offer-type2 .ribbon-right:after,
.td-catalogue-card .td-indicator-offer-type2 .ribbon-left:before,
.td-catalogue-card .td-indicator-offer-type2 .ribbon-right:after,
.td-catalogue-card td-catalogue-card-rates .td-indicator-offer-type2 .ribbon-left:before,
.td-catalogue-card td-catalogue-card-rates .td-indicator-offer-type2 .ribbon-right:after {
    height: 30px;
    border: 15px solid transparent;
    border-top-color: #008a00;
    border-bottom-color: #008a00
}

.td-catalogue-card.td-catalogue-card-accounts .td-indicator-offer-type2 .ribbon-right:after,
.td-catalogue-card .td-indicator-offer-type2 .ribbon-right:after,
.td-catalogue-card td-catalogue-card-rates .td-indicator-offer-type2 .ribbon-right:after {
    right: -15px
}

.td-catalogue-card.td-catalogue-card-credit .td-indicator-offer-type2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Webly Sleek SemiLight Italic", Helvetica-, droid sans, sans-serif;
    letter-spacing: 3px;
    display: none
}

.td-catalogue-card.td-catalogue-card-credit .td-indicator-offer-type2.show {
    display: block
}

.td-catalogue-card.td-catalogue-card-credit .td-indicator-offer-type2 .ribbon {
    height: 30px;
    font-size: 14px;
    font-size: .875rem
}

.td-catalogue-card.td-catalogue-card-credit .td-indicator-offer-type2 .ribbon > div {
    margin-top: 3px
}

.td-catalogue-card.td-catalogue-card-credit .td-indicator-offer-type2 .ribbon-left:before,
.td-catalogue-card.td-catalogue-card-credit .td-indicator-offer-type2 .ribbon-right:after {
    height: 30px;
    border: 15px solid transparent;
    border-top-color: #008a00;
    border-bottom-color: #008a00
}

.td-catalogue-card.td-catalogue-card-credit .td-indicator-offer-type2 .ribbon-right:after {
    right: -15px
}

.td-catalogue-card.td-catalogue-card-credit .td-product-cta-button + .td-product-cta-button {
    margin-top: 20px
}

.td-catalogue-card.td-catalogue-card-credit .td-product-details-2 {
    margin-top: 20px
}

.td-a-banner-product-credit-cards .td-indicator-offer-type2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Webly Sleek SemiLight Italic", Helvetica-, droid sans, sans-serif;
    letter-spacing: 3px;
    display: none
}

.td-a-banner-product-credit-cards .td-indicator-offer-type2.show {
    display: block
}

.td-a-banner-product-credit-cards .td-indicator-offer-type2 .ribbon {
    height: 30px;
    font-size: 14px;
    font-size: .875rem
}

.td-a-banner-product-credit-cards .td-indicator-offer-type2 .ribbon > div {
    margin-top: 3px
}

.td-a-banner-product-credit-cards .td-indicator-offer-type2 .ribbon-left:before,
.td-a-banner-product-credit-cards .td-indicator-offer-type2 .ribbon-right:after {
    height: 30px;
    border: 15px solid transparent;
    border-top-color: #008a00;
    border-bottom-color: #008a00
}

.td-a-banner-product-credit-cards .td-indicator-offer-type2 .ribbon-right:after {
    right: -15px
}

.td-a-banner-product-credit-cards .td-product-info-row > div:first-child + .td-divider-div {
    margin-top: 0
}

.tdbus-mortgage-calculator-results {
    opacity: 0
}

.tdbus-mortgage-calculator-results * + .cols-two {
    margin-top: 40px
}

.tdbus-mortgage-calculator-results .cols-two > div > div {
    padding: 25px 0 30px 0;
    margin-bottom: 30px
}

.tdbus-mortgage-calculator-results .cols-two > div > div > div {
    padding: 0 15px 0 15px
}

.tdbus-mortgage-calculator-results .cols-two > div > div .col-heading h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1
}

.tdbus-mortgage-calculator-results .cols-two > div > div h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 23px;
    padding-right: 23px
}

.tdbus-mortgage-calculator-results .cols-two > div > div .col-sub-copy {
    word-break: break-word;
    margin-top: 20px;
    text-align: center
}

.tdbus-mortgage-calculator-results .cols-two > div > div .col-sub-copy p:first-child {
    margin-top: 0;
    word-break: break-word
}

.tdbus-mortgage-calculator-results .cols-two > div > div .td-thin-divider-line-1 {
    margin-top: 20px
}

.tdbus-mortgage-calculator-results .cols-two > div > div .col-dynamic-values {
    text-align: center;
    margin-top: 20px
}

.tdbus-mortgage-calculator-results .cols-two > div > div .col-dynamic-values p {
    word-break: break-word;
    margin-top: 0;
    margin-bottom: 0
}

.tdbus-mortgage-calculator-results .cols-two > div > div .col-dynamic-values p.note {
    font-size: 14px;
    font-size: .875rem
}

.tdbus-mortgage-calculator-results .cols-two > div > div .col-dynamic-values p:nth-child(2) {
    white-space: nowrap
}

.tdbus-mortgage-calculator-results .cols-two > div > div .col-dynamic-values span {
    font-size: 40px;
    font-size: 2.5rem
}

.tdbus-mortgage-calculator-results .cols-two > div > div .col-dynamic-values .sup {
    top: -28px
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div {
    margin-top: 20px
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-dropdown,
.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-button,
.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-text,
.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-link {
    margin-top: 20px
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-dropdown {
    text-align: center
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-dropdown .form-group {
    margin-left: auto;
    margin-right: auto
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-dropdown .form-group label {
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-dropdown .form-group .td-select {
    margin-top: 0;
    width: 160px;
    position: relative;
    float: left;
    display: inline-block
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-dropdown .form-group .td-select select {
    font-size: 16px;
    font-size: 1rem
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-text {
    text-align: center
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-text p:first-child {
    margin-top: 0;
    word-break: break-word
}

.tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div.col-link {
    text-align: center
}

.tdbus-mortgage-calculator-results .footnote {
    text-align: center;
    font-size: 14px;
    font-size: .875rem
}

.tdbus-mortgage-calculator-results .footnote p {
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word
}

@media only screen and (min-width: 48em) and (max-width: 74.94em) {
    .tdbus-mortgage-calculator-results .cols-two > div > div h3 {
        padding-left: 23px;
        padding-right: 23px
    }
}

@media only screen and (min-width: 30em) and (max-width: 63.94em) {
    .tdbus-mortgage-calculator-results .cols-two > div > div h3 {
        padding-left: 0;
        padding-right: 0
    }
}

@media only screen and (max-width: 47.94em) {
    .tdbus-mortgage-calculator-results .cols-two > div > div h3 {
        padding-left: 0;
        padding-right: 0
    }

    .tdbus-mortgage-calculator-results .cols-two > div > div .dynamic-elements > div > div {
        margin-top: 0
    }
}

.td-expand-collapse-content.td-secondary-accordion.mortgage-results {
    margin: 0 !important
}

.td-expand-collapse-content.td-secondary-accordion.mortgage-results .td-container > .td-row > div > .td-row > div:first-child {
    padding-left: 0
}

.td_alert-message {
    padding: 0
}

.td_alert-message .td-container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff8d9
}

.td_alert-message .td-alert-message-illustration {
    text-align: right
}

.td_alert-message .td-alert-message-illustration .td-icon {
    margin-left: -6px;
    font-size: 30px;
    font-size: 1.875rem
}

.td_alert-message .td-alert-message-copy {
    padding-left: 0;
    padding-right: 0
}

.td_alert-message .td-alert-message-copy .inner_content {
    position: relative;
    margin-top: 5px
}

.td_alert-message .td-alert-message-copy p {
    margin-top: -4px;
    margin-bottom: 0;
    font-size: 14px;
    font-size: .875rem
}

.td_alert-message .td-alert-message-copy a.td-bst-desc {
    border-bottom: 0
}

.td_alert-message .td-alert-message-copy a.td-bst-desc span {
    font-size: 20px;
    top: 3px
}

@media (max-width: 47.94em) {
    .td_alert-message .td-alert-message-illustration {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        padding-left: 5px
    }

    .td_alert-message .td-alert-message-copy {
        padding-left: 0
    }

    .td_alert-message .td-alert-message-copy .inner_content {
        margin-top: 0;
        margin-left: -8px
    }

    .td_alert-message .td-alert-message-copy p {
        margin-top: 0;
        font-size: 13px;
        font-size: .8125rem
    }
}

.tdbus-cd-rates {
    opacity: 0
}

.tdbus-cd-rates h2 {
    text-align: center;
    margin-top: 0
}

.tdbus-cd-rates h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center
}

.tdbus-cd-rates hr {
    margin-top: 20px;
    margin-bottom: 20px
}

.tdbus-cd-rates .col {
    padding-top: 20px;
    padding-bottom: 30px
}

.tdbus-cd-rates .rate-info {
    text-align: center
}

.tdbus-cd-rates .rate-info p {
    margin-top: 0;
    margin-bottom: 0
}

.tdbus-cd-rates .rate-info p.note1, .tdbus-cd-rates .rate-info p.note2 {
    font-size: 14px;
    font-size: .875rem;
    margin-left: 10px;
    margin-right: 10px
}

.tdbus-cd-rates .rate-info p span {
    font-size: 40px;
    font-size: 2.5rem
}

.tdbus-cd-rates .cta {
    margin-top: 20px
}

.tdbus-cd-rates .cta .btn-block {
    width: 71.2%;
    margin-left: auto;
    margin-right: auto
}

.tdbus-cd-rates .cta .btn-block + .btn-block {
    margin-top: 20px
}

.tdbus-cd-rates .sub-row-1 .cta .btn-block, .tdbus-cd-rates .sub-row-2 .cta .btn-block {
    width: 82%
}

@media only screen and (min-width: 48em) and (max-width: 74.94em) {
    .tdbus-cd-rates .sub-row-1 .cta .btn-block, .tdbus-cd-rates .sub-row-2 .cta .btn-block {
        width: 74%
    }
}

@media only screen and (min-width: 30em) and (max-width: 63.94em) {
    .tdbus-cd-rates .cta .btn-block {
        width: 74%
    }

    .tdbus-cd-rates .cols > div.sub-row-2 {
        margin-top: 30px
    }

    .tdbus-cd-rates .sub-row-1 .cta .btn-block, .tdbus-cd-rates .sub-row-2 .cta .btn-block {
        width: 62.6%
    }
}

@media only screen and (max-width: 47.94em) {
    .tdbus-cd-rates .cols > div {
        margin-top: 10px
    }

    .tdbus-cd-rates .cols > div:first-child {
        margin-top: 0
    }

    .tdbus-cd-rates .cta {
        padding-left: 15px;
        padding-right: 15px
    }

    .tdbus-cd-rates .cta .btn-block {
        width: 100%
    }

    .tdbus-cd-rates .sub-row-1 .cta .btn-block, .tdbus-cd-rates .sub-row-2 .cta .btn-block {
        width: 100%
    }
}

.a-login-banner-basic {
    position: relative;
    width: 100%
}

.a-login-banner-basic .a-banner-basic-loginbox-overlay {
    position: absolute;
    top: 0;
    z-index: 500;
    background: transparent;
    width: 100%
}

.a-login-banner-basic .a-banner-basic-loginbox-overlay .td-a-banner-login.a-banner-basic.login {
    background: transparent;
    opacity: 1;
    height: 319px
}

@media only screen and (max-width: 47.94em) {
    .a-login-banner-basic section {
        margin-bottom: 0
    }

    .a-login-banner-basic .a-banner-basic-loginbox-overlay {
        position: static;
        top: auto;
        z-index: auto
    }

    .a-login-banner-basic .a-banner-basic-loginbox-overlay .td-a-banner-login.a-banner-basic.login {
        height: auto
    }
}

.td-a-banner.a-banner-basic, .td-a-banner-login.a-banner-basic {
    height: 320px
}

.td-a-banner.a-banner-basic .td-container, .td-a-banner.a-banner-basic .td-container > .td-row,
.td-a-banner.a-banner-basic .td-container > .td-row > div, .td-a-banner-login.a-banner-basic .td-container,
.td-a-banner-login.a-banner-basic .td-container > .td-row, .td-a-banner-login.a-banner-basic .td-container > .td-row > div {
    position: relative;
    height: 100%
}

.td-a-banner.a-banner-basic .td-bg-light-gray, .td-a-banner.a-banner-basic .td-bg-mint-green,
.td-a-banner.a-banner-basic .td-bg-white, .td-a-banner-login.a-banner-basic .td-bg-light-gray,
.td-a-banner-login.a-banner-basic .td-bg-mint-green, .td-a-banner-login.a-banner-basic .td-bg-white {
    background-color: transparent
}

.td-a-banner.a-banner-basic .a-banner-basic-content, .td-a-banner-login.a-banner-basic .a-banner-basic-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: auto
}

.td-a-banner.a-banner-basic .a-banner-basic-content p, .td-a-banner-login.a-banner-basic .a-banner-basic-content p {
    margin-top: 20px;
    margin-bottom: 0
}

.td-a-banner.a-banner-basic .a-banner-basic-content p:first-child,
.td-a-banner-login.a-banner-basic .a-banner-basic-content p:first-child {
    margin-top: 0
}

.td-a-banner.a-banner-basic .a-banner-basic-content p:last-child,
.td-a-banner-login.a-banner-basic .a-banner-basic-content p:last-child {
    margin-bottom: 0
}

.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-headline,
.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-sub-headline,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-headline,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-sub-headline {
    font-family: "TD Graphik Light", "Webly Sleek SemiLight", Helvetica-, droid sans, sans-serif
}

.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-headline,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-headline {
    font-size: 32px;
    font-size: 2rem;
    line-height: 40px;
    line-height: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 250px
}

.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-sub-headline,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-sub-headline {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 30px;
    line-height: 1.875rem;
    padding-right: 105px
}

.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta {
    margin-top: 20px
}

.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta .btn-block + .btn-block,
.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group + .btn-block,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta .btn-block + .btn-block,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group + .btn-block {
    margin-top: 0;
    margin-left: 23px
}

.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta button,
.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta button,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group {
    float: left;
    width: 40%
}

.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta:after,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta:after {
    content: "";
    clear: both;
    display: table
}

.td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta a,
.td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta a {
    display: block
}

@media only screen and (min-width: 48em) and (max-width: 74.94em) {
    .td-a-banner.a-banner-basic, .td-a-banner-login.a-banner-basic {
        height: 320px
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-headline,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-headline {
        padding-right: 150px
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-sub-headline,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-sub-headline {
        padding-right: 30px
    }
}

@media only screen and (min-width: 30em) and (max-width: 63.94em) {
    .td-a-banner.a-banner-basic, .td-a-banner-login.a-banner-basic {
        height: 320px
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-headline,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-headline {
        font-size: 30px;
        font-size: 1.875rem;
        line-height: 36px;
        line-height: 2.25rem;
        padding-right: 90px
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-sub-headline,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-sub-headline {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 26px;
        line-height: 1.625rem;
        padding-right: 20px
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta button,
    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta button,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group {
        float: left;
        width: 44.8%
    }
}

@media only screen and (max-width: 47.94em) {
    .td-a-banner.a-banner-basic, .td-a-banner-login.a-banner-basic {
        height: auto
    }

    .td-a-banner.a-banner-basic .td-bg-light-gray, .td-a-banner-login.a-banner-basic .td-bg-light-gray {
        background-color: #f3f3f8
    }

    .td-a-banner.a-banner-basic .td-bg-mint-green, .td-a-banner-login.a-banner-basic .td-bg-mint-green {
        background-color: #f4f7f4
    }

    .td-a-banner.a-banner-basic .td-bg-white, .td-a-banner-login.a-banner-basic .td-bg-white {
        background-color: #fff
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content, .td-a-banner-login.a-banner-basic .a-banner-basic-content {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        top: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        left: auto
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-headline,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-headline {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 30px;
        line-height: 1.875rem;
        padding-right: 0
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-sub-headline,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-sub-headline {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 24px;
        line-height: 1.5rem;
        padding-right: 0
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta button,
    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta button,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group {
        float: none;
        width: 100%
    }

    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta .btn-block + .btn-block,
    .td-a-banner.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group + .btn-block,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta .btn-block + .btn-block,
    .td-a-banner-login.a-banner-basic .a-banner-basic-content .td-banner-cta .form-group + .btn-block {
        margin-top: 20px;
        margin-left: 0
    }
}

.td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content,
.td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content {
    padding-right: 30px
}

.td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-headline,
.td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-sub-headline,
.td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-headline,
.td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-sub-headline {
    padding-right: 0
}

.td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-cta button,
.td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-cta button {
    width: 67%
}

.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: auto
}

.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .default-login h2,
.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .second-login h2,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .default-login h2,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .second-login h2 {
    line-height: 30px;
    line-height: 1.875rem;
    margin-top: 0;
    margin-bottom: 0
}

.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .default-login h2 + div,
.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .second-login h2 + div,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .default-login h2 + div,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .second-login h2 + div {
    margin-top: 10px
}

.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .default-login h2 + div button,
.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .second-login h2 + div button,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .default-login h2 + div button,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .second-login h2 + div button {
    width: calc(100% + 22px)
}

.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .default-login h2 + div a,
.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .second-login h2 + div a,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .default-login h2 + div a,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .second-login h2 + div a {
    display: block;
    margin-top: 10px;
    margin-left: 12px
}

.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .default-login > p,
.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .second-login > p,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .default-login > p,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .second-login > p {
    font-size: 14px;
    font-size: .875rem;
    line-height: 20px;
    line-height: 1.25rem
}

.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .second-login,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .second-login {
    margin-top: 20px
}

.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox .rte * ,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox .rte * {
    font-size: 14px;
    font-size: .875rem;
    line-height: 20px;
    line-height: 1.25rem
}

.td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox p,
.td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox p {
    margin-top: 10px;
    margin-bottom: 0
}

.td-a-banner.a-banner-basic.login .vertical-section, .td-a-banner-login.a-banner-basic.login .vertical-section {
    position: absolute;
    float: left;
    width: 2px;
    height: 100%;
    right: 15px;
    top: 0
}

.td-a-banner.a-banner-basic.login .vertical-section .vertical,
.td-a-banner-login.a-banner-basic.login .vertical-section .vertical {
    width: 1px;
    background-color: #008a00;
    height: 81.25%;
    margin-top: 30px;
    margin-bottom: 30px
}

@media only screen and (min-width: 30em) and (max-width: 63.94em) {
    .td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content,
    .td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content {
        padding-right: 0
    }

    .td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-headline,
    .td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-headline {
        font-size: 28px;
        font-size: 1.75rem;
        line-height: 35px;
        line-height: 2.1875rem
    }

    .td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-sub-headline,
    .td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-sub-headline {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 26px;
        line-height: 1.625rem
    }
}

@media only screen and (max-width: 47.94em) {
    .td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content,
    .td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content {
        padding-right: 0
    }

    .td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-headline,
    .td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-headline {
        margin-right: 0;
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 30px;
        line-height: 1.875rem
    }

    .td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-sub-headline,
    .td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-sub-headline {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 24px;
        line-height: 1.5rem
    }

    .td-a-banner.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-cta button,
    .td-a-banner-login.a-banner-basic.login .content-section .a-banner-basic-content .td-banner-cta button {
        float: none;
        width: 100%
    }

    .td-a-banner.a-banner-basic.login .a-banner-basic-content-loginbox h2,
    .td-a-banner-login.a-banner-basic.login .a-banner-basic-content-loginbox h2 {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 24px;
        line-height: 1.5rem
    }
}

.catalogue-card-borrowing .td-indicator-offer-type2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Webly Sleek SemiLight Italic", Helvetica-, droid sans, sans-serif;
    letter-spacing: 3px;
    display: none
}

.catalogue-card-borrowing .td-indicator-offer-type2.show {
    display: block
}

.catalogue-card-borrowing .td-indicator-offer-type2 .ribbon {
    height: 30px;
    font-size: 14px;
    font-size: .875rem
}

.catalogue-card-borrowing .td-indicator-offer-type2 .ribbon > div {
    margin-top: 1px
}

.catalogue-card-borrowing .td-indicator-offer-type2 .ribbon-left:before,
.catalogue-card-borrowing .td-indicator-offer-type2 .ribbon-right:after {
    height: 30px;
    border: 15px solid transparent;
    border-top-color: #008a00;
    border-bottom-color: #008a00
}

.catalogue-card-borrowing .td-indicator-offer-type2 .ribbon-right:after {
    right: -15px
}

.catalogue-card-borrowing .td-indicator-offer-type2 + .rte:not(:last-child) {
    padding-bottom: 0
}

.td-a-banner-product-borrowing .td-indicator-offer-type2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Webly Sleek SemiLight Italic", Helvetica-, droid sans, sans-serif;
    letter-spacing: 3px;
    display: none
}

.td-a-banner-product-borrowing .td-indicator-offer-type2 + .rte.main-copy {
    margin-bottom: 21px
}

.td-a-banner-product-borrowing .td-indicator-offer-type2 + .rte.main-copy p {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 32px;
    line-height: 2rem
}

.td-a-banner-product-borrowing .td-indicator-offer-type2.show {
    display: block
}

.td-a-banner-product-borrowing .td-indicator-offer-type2 .ribbon {
    height: 30px;
    font-size: 14px;
    font-size: .875rem
}

.td-a-banner-product-borrowing .td-indicator-offer-type2 .ribbon > div {
    margin-top: 3px
}

.td-a-banner-product-borrowing .td-indicator-offer-type2 .ribbon-left:before,
.td-a-banner-product-borrowing .td-indicator-offer-type2 .ribbon-right:after {
    height: 30px;
    border: 15px solid transparent;
    border-top-color: #008a00;
    border-bottom-color: #008a00
}

.td-a-banner-product-borrowing .td-indicator-offer-type2 .ribbon-right:after {
    right: -15px
}

@media (max-width: 63.94em) {
    .td-a-banner-product-borrowing .td-indicator-offer-type2 + .rte.main-copy {
        margin: 0 16px 21px 0
    }
}

@media (max-width: 47.94em) {
    .td-a-banner-product-borrowing .td-indicator-offer-type2 {
        margin-left: -13px
    }

    .td-a-banner-product-borrowing .td-indicator-offer-type2 + .rte.main-copy {
        margin-right: 0;
        margin-bottom: 20px
    }

    .td-a-banner-product-borrowing .td-indicator-offer-type2 + .rte.main-copy p {
        line-height: 1.75rem
    }
}

@media print and (color) {
    .logo-print {
        text-align: center;
        margin-bottom: 20px
    }

    .logo-print img {
        background-color: #12412A !important;
        width: auto !important;
        height: 32px !important
    }

    .td_rq_a_banner.td-a-banner .td-container > .td-row > div {
        margin-left: 0 !important
    }

    .td_rq_a_banner.td-a-banner.a-banner-basic {
        background-size: contain !important
    }

    .td_rq_a_banner.td-a-banner.a-banner-basic .a-banner-basic-content {
        margin-top: 0 !important;
        top: auto !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        left: auto !important
    }
}


